<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | articuno </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Slab:wght@100;800&display=swap" rel="stylesheet">

    <style>
        body {
            background-image: url(../img/fondo-articuno.jpg)
        }
    </style>

    <body style="font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Slab', serif;"></body>>
    <h1>articuno</h1>
    <img style="width: 25%;" src="../img/articuno.png" alt="articuno">
    <p>Tipo: <span style="background-color:darkcyan; padding: 3px " ;>Hielo</span>
        <p style="color: white; background-color: red;">Descripción:</p>
        <p style="color: white; background-color: aqua;">Articuno es un Pokémon legendario del tipo hielo/volador introducido en la primera generación. Es la primera de las tres aves legendarias, las otras son Zapdos y Moltres. En Pokémon Platino, Pokémon X y Pokémon Y es un Pokémon errante.</p>
        </body>

</html>