<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | articuno </title>
    <link rel="shortcut icon" href="../img/articuno.png" type="image/x-icon">k
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Slab:wght@100;800&display=swap" rel="stylesheet">

    <body class="articuno">
        <h1>ARTICUNO</h1>
        <img src="../img/articuno.png" alt="articuno">
        <p id="fondo articuno">Tipo: <span>Hielo</span>
            <p></p>
            <span id="Descripcion">Descripción:</span>
            <p id="descripcionarticuno">Articuno es un Pokémon legendario del tipo hielo/volador introducido en la primera generación. Es la primera de las tres aves legendarias, las otras son Zapdos y Moltres. En Pokémon Platino, Pokémon X y Pokémon Y es un Pokémon errante.</p>
            <p id="enlace"><a href="../index.html">PAGINA PRINCIPAL</a></p>
    </body>

</html>