<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | mewtwo</title>
    <link rel="shortcut icon" href="../img/mewtwo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="mewtwo">
    <h1>MEWTWO</h1>
    <img src="../img/mewtwo.png" alt="mewtwo">
    <p>Tipo: <span>Psiquito</span>
        <p>Descripción:</p>
        <p id="fondomewtwo">Mewtwo es un Pokémon legendario y artificial de tipo psíquico introducido en la primera generación. Fue creado por el doctor Fuji a partir del ADN de Mew. A partir de la sexta generación puede megaevolucionar en Mega-Mewtwo X o en Mega-Mewtwo
            Y, convirtiéndose, junto con Mega-Rayquaza, en el Pokémon con la suma de estadísticas de combate más altas.</p>
        <p id="enlace"><a href="../index.html">PAGINA PRINCIPAL</a></p>
</body>

</html>