<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Pokedex | pikachu</title>
    <link rel="shortcut icon" href="../img/pikachu.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body class="pikachu">
    <h1>PIKACHU</h1>
    <img src="../img/pikachu.png" alt="PIKACHU">
    <p style="color: white;">Tipo: <span style="background-color:yellow; color: black;">Electrico</span>
        <p><span id="fondodescricion">Descripción:</span></p>
        <p id="descripcionpikachu">Pikachu es un Pokémon de tipo eléctrico introducido en la primera generación. Es el Pokémon más conocido de la historia, mayormente por ser el acompañante del protagonista del anime, Ash Ketchum y la mascota representante de la franquicia Pokémon.
        </p>
        <p id="enlace"><a href="../index.html">PAGINA PRINCIPAL</a></p>
</body>

</html>